.gallery-container {
    max-width: 600px;
    margin: 0 auto;
}

.gallery li {
    display: inline-block;
    width: calc(33.33% - 1.8rem);
    margin: 0.2rem;
    vertical-align: middle;
    border: 0.4rem black solid;
}

.gallery img {
    display: block;
    width: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
}
